<div class="block col-md-4">
  <div class="block-title">
     <h2>Edit Collection</h2>
  </div>

  <%= form_for(@shelf, :html => { :role => 'form', class: "form-horizontal form-bordered"}) do |f| %>

    <% if @shelf.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@shelf.errors.count, "error") %> prohibited this shelf from being saved:</h2>

        <ul>
        <% @shelf.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="form-group">
        <%= f.label :name, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: "form-control", placeholder: "Name of collection" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :privacy, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
        <%= f.select :privacy, options_for_select(@privacies.collect { |s| [s[0].humanize, s[0]] }, selected: @shelf.privacy), {}, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :active, class: 'col-md-3 control-label' %>
        <div class="col-md-6">
          <%= label_tag(nil, class: 'csscheckbox csscheckbox-primary') do %>
            <%= f.check_box :active %>
            <span></span>
          <% end %>        
        </div>
      </div>

      <div class="form-group form-actions">
        <div class="col-md-9 col-md-offset-3">   
          <%= button_tag("Save", type: "submit", class: "btn btn-effect-ripple btn-primary") %> 
          <%= link_to("Cancel", shelves_path, class: "btn btn-effect-ripple btn-danger") %> 
        </div>   
      </div> 

  <% end %>
</div>

