<div class="block">
  <div class="block-title">
    <h2><%= detone @shelf.screen_name %></h2>
  </div>
  <div class="row"> 
    <%= render "books/widgets/pagination" %>
    <hr> 
    <div class="col-xs-12">    
      <%= render :partial =>  "books/book", :collection => @books, :as => :book %>
    </div>
    <%= render "books/widgets/pagination" %>  
  </div>
</div>


<%= link_to 'Edit', edit_shelf_path(@shelf) %> |
<%= link_to 'Back', shelves_path %>
