<% if defined? show_progressbar.present? and show_progressbar %> 
<div class="progress progress-mini">
  <div class=<%= "\"progress-bar progress-bar-success recommendations-bar-#{book.id}\"".html_safe %> 
    role="progressbar" 
    aria-valuenow=<%= "#{book.liked_by_count}" %> 
    aria-valuemin="0" aria-valuemax=<%= "#{book.liked_by_count+book.disliked_by_count}" %> 
    style=<%= (book.liked_by_count+book.disliked_by_count)>0 ? "width:#{(book.liked_by_count/(book.liked_by_count+book.disliked_by_count))*100}%" : "width:0%" %>></div>
</div>
<% end %> 

<%= button_tag :onclick => "javascript:like(#{book.id})",                  
"data-toggle" => "tooltip", 
"data-placement" => "top",
type: "button", 
title: current_user.likes?(book) ? t('books.remove_recommendation') : t('books.recommend'), 
class: "btn btn-xs btn-like btn-like-#{book.id} btn-effect-ripple #{current_user.likes?(book) ? 'btn-success' : 'btn-default'}" do %>      
  <i class="fa fa-thumbs-up"></i><strong><span><%= " #{book.liked_by_count}" %></span></strong>
<% end %>

<%= button_tag :onclick => "javascript:dislike(#{book.id})",
"data-toggle" => "tooltip", 
"data-placement" => "top",
type: "button", 
title: current_user.dislikes?(book) ? t('books.remove_recommendation') : t('books.not_recommend'), 
class: "btn btn-xs btn-dislike btn-dislike-#{book.id} btn-effect-ripple #{current_user.dislikes?(book) ? 'btn-danger' : 'btn-default'}" do %>      
  <i class="fa fa-thumbs-down"></i><strong><span><%= " #{book.disliked_by_count}" %></span></strong>
<% end %> 