<div class="content-header">
  <div class="row">
     <div class="col-sm-6">
        <div class="header-section">
           <%= content_tag :h1, @title if @title %>
           <%= @content if @content%>
        </div>
     </div>
     <div class="col-sm-6 hidden-xs">
        <div class="header-section">
           <%= cell(:navigation).call(:breadcrumb, breadcrumbs: @breadcrumbs) %>
        </div>
     </div>
  </div>
</div>

