<%= form_for(@author, class: 'form-bordered') do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :extra_info %><br>
    <%= f.text_field :extra_info, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :biography %><br>
    <%= f.text_area :biography, :rows => "10", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.text_field :image, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :slug %><br>
    <%= f.text_field :slug, class: 'form-control' %>
  </div>  
  <div class="form-group">
    <%= f.label :biblionet_id %><br>
    <%= f.number_field :biblionet_id, class: 'form-control' %>
  </div>
  <div class="form-group form-actions">
    <%= f.submit t('save'), class: 'btn btn-effect-ripple btn-primary' %>    
  </div>
<% end %>
