<% pages = {fa('home') => root_url, t('publishers.label') => publishers_path, @publisher.name => nil} %>

<%= cell(:navigation).call(:content_header, 
  content: render(partial: 'shared/search_form', 
    locals: {action: publishers_path, placeholder: t('publishers.search')}), breadcrumbs: pages) %>

<div class="row">
   <div class="col-sm-10 col-sm-offset-1">
      <div class="block full">
        <div class="block-title">
          <div class="block-options pull-right">       
            <% if policy(@publisher).update? %>            
            <%= cell(:navigation).call(:btn_link_to, name: fa('pencil'), url: edit_publisher_path(@publisher), tooltip: t('publishers.edit'), style: 'success') %>
            <% end %>
            <%= link_to fa('times'), @publisher, class: "btn btn-effect-ripple btn-danger", 
            method: :delete, data: { confirm: t('u_sure'), "toggle" => "tooltip", "original-title" => t('publishers.delete') } if policy(@publisher).destroy? and @publisher.books.count==0 %>                            
          </div>
          <h2><%= detone(@publisher.name) %></h2>
        </div>  

        <div class="row">
          <div class="col-sm-9">
            <h2><%= @publisher.name %><br><small><%= @publisher.owner %></small></h2>
            <hr>          
          </div>
          <div class="col-sm-3">
            <div class="row">            
              <div class="widget">
                <div class="widget-content themed-background-muted text-center">
               
                <div class="row text-center">
                  <div class="col-xs-6">
                    <h4 class="widget-heading"><small><%= t 'books.label' %></small><br><%= @publisher.books.count %></h4>
                  </div>
                  <div class="col-xs-6">
                    <h4 class="widget-heading"><small><%= t 'stats.views' %></small><br><%= @publisher.impressionist_count %></h4>
                  </div>
                </div>
                </div>
              </div>
            </div>                       
          </div>  
          <div class="col-sm-12">
             <div class="row">
              <% @publisher.places.each do |place|%>
                <% place_presenter = PlacePresenter.new(place, self) %>
                <div class="col-xs-12">
                  <h4 class="sub-header"><%= place.role %></h4>
                  <div class="col-xs-3 text-center"><%= place_presenter.address %></div>
                  <div class="col-xs-3 text-center"><%= place_presenter.telephone %></div>

                  <div class="col-xs-3 text-center"><%= place_presenter.fax %></div>

                  <div class="col-xs-3 text-center"><%= place_presenter.website %></div>

                  <div class="col-xs-3 text-center"><%= place_presenter.email %></div>

                  
                </div>
              <% end %>
            </div>
            <% if @books.count > 0 %>
              <h4 class="sub-header">
                <%= t('books.label') %>
              </h4>
              <%= render partial: "publishers/widgets/pagination", 
                locals: {paginatable: @books} %>
              <hr> 
              <%= render :partial =>  "books/book", :collection => @books, :as => :book %>

              <%= render partial: "publishers/widgets/pagination", 
                locals: {paginatable: @books} %>              
            <% end %>

          </div>  
        </div>          
      </div>
  </div>
</div>

<%= link_to 'Edit', edit_publisher_path(@publisher) if policy(@publisher).update? %> <br>
<%= link_to 'Back', publishers_path %>


<%= render 'places/places' %>


<%= render 'places/form' if policy(Place).new? %>