
<% content_for :content_header do %>
  <div class="content-header">
    <div class="row">
      <div class="col-xs-offset-2 col-xl-offset-3">
        <div class="header-section">
          <%= render 'home/search_form' %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<%= paginate @search_results unless @search_results.nil? %><br>

<% @search_results.each do |book| %>
<%= book.title%><br>
<% end unless @search_results.nil? %>
<%= t("nothing_found") if not @search_results.nil? and @search_results.empty? and !params[:search].nil? %><br>

<div class="row">
  <div class="col-lg-8 col-xl-6 col-xl-push-3">
    <%= render 'home/widgets/welcome' %>
    <%= render 'home/widgets/my_books' if user_signed_in? %>
    <%= render 'home/widgets/my_collections' if user_signed_in? %>
    <%= render partial: 'books/widgets/grid', 
    locals: {title: " #{t('recently_added')}", icon: "fa-clock-o", books: @recently_added} if user_signed_in? %>   
  </div>

  <div class="col-sm-6 col-lg-4 col-xl-3 col-xl-pull-6">

    <%= render partial: 'books/widgets/side', locals: {
      title: " #{t('books.recommended')}", icon: "fa-thumbs-o-up", books: @recommended_books} %>

    <%= render partial: 'books/widgets/side', locals: {
      title: " #{t('books.popular')}", icon: "fa-line-chart", books: @popular_books} %>  
      
  </div>

  <div class="col-sm-6 col-lg-4 col-lg-offset-8 col-xl-3 col-xl-offset-0">    

    <%= render partial: 'books/widgets/side', locals: {
      title: " #{t('books.awarded')}", icon: "fa-trophy", books: @awarded_books} %>

    <%= render partial: 'books/widgets/side', locals: {
      title: " #{t('books.latest')}", icon: "fa-clock-o", books: @latest_books} %>
   
  </div>  

</div>

<% if user_signed_in? %>
<%= render partial: 'books/widgets/collections_manager', locals: {shelves: @shelves} %>
<% end %>
