<div class="row clearfix">
  
  <div class="col-xs-2">
    <%= image_tag(book.cover, height: '96', width: '96') %>
  </div>
  <div class="col-xs-10">
    <div class="row clearfix">
      <div class="col-xs-9">
        <h4><%= link_to book.title, book %></h4>       
        <span><%= book.writers.first.present? ? link_to(book.main_author, book.writers.first) : book.main_author %></span><br>
        <span><small class="text-muted"><%= 
          t('books.recommended_x_times', count: book.liked_by_count) + " - " + 
          t('books.in_x_collections', count: book.bookshelves.count) + " - " + 
          t('books.with_x_views', count: book.impressionist_count)
        %></small></span>
      </div>
      <div class="col-xs-3 text-center">
        <%= render partial: 'books/widgets/collections_manager_btn', locals: {book: book, full_size: true} %>
        <br>
        <%= render partial: 'books/widgets/recommend_btns', locals: {book: book} %>        
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10">
        <p><small><%= book.short_description(100) %></small></p>
        </div>
    </div>

  </div>
</div>
<hr>