<%= form_for(@book, class: 'form-bordered') do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-xs-6 form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :subtitle %><br>
    <%= f.text_field :subtitle, class: 'form-control' %>
  </div>
  <div class="col-xs-12 form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :rows => "10", class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :image %><br>
    <%= f.text_field :image, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :isbn %><br>
    <%= f.text_field :isbn, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :isbn13 %><br>
    <%= f.text_field :isbn13, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :ismn %><br>
    <%= f.text_field :ismn, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :issn %><br>
    <%= f.text_field :issn, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :series_name %><br>
    <%= f.text_field :series_name, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :series_volume %><br>
    <%= f.text_field :series_volume, class: 'form-control' %>
  </div>  
  <div class="col-xs-6 form-group">
    <%= f.label :publication_year %><br>
    <%= f.number_field :publication_year, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :publication_version %><br>
    <%= f.number_field :publication_version, class: 'form-control' %>
  </div>  
  <div class="col-xs-6 form-group">
    <%= f.label :publication_place %><br>
    <%= f.text_field :publication_place, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :price_updated_at %><br>
    <%= f.date_select :price_updated_at, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :pages %><br>
    <%= f.number_field :pages, class: 'form-control' %>
  </div>  
  <div class="col-xs-6 form-group">
    <%= f.label :size %><br>
    <%= f.text_field :size, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :cover_type %><br>
    <%= f.select :cover_type, options_for_select(@cover_types.collect { |s| [s[0].humanize, s[0]] }, selected: @book.cover_type), {}, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :availability %><br>              
    <%= f.select :availability, options_for_select(@availabilities.collect { |s| [s[0].humanize, s[0]] }, selected: @book.availability), {}, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :format %><br>
    <%= f.select :format, options_for_select(@formats.collect { |s| [s[0].humanize, s[0]] }, selected: @book.format), {}, class: 'form-control' %>
  </div>

  <div class="col-xs-6 form-group">
    <%= f.label :language %><br>
    <%= f.select :language, 
        options_for_select(Book::LANGUAGES.each_with_index.collect { |lang, i| [lang, i] }, selected: Book::LANGUAGES.index(@book.language.to_sym)), {}, class: 'form-control' %>
  </div>
  <div>

  <div class="col-xs-6 form-group">
    <%= f.label :original_language %><br>
    <%= f.select :original_language, 
        options_for_select(Book::LANGUAGES.each_with_index.collect { |lang, i| [lang, i] }, selected: Book::LANGUAGES.index(@book.original_language.to_sym)), {}, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :original_title %><br>
    <%= f.text_field :original_title, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :publisher_id %><br>
    <%= f.text_field :publisher_id, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :extra %><br>
    <%= f.text_field :extra, class: 'form-control' %>
  </div>
  <div class="col-xs-6 form-group">
    <%= f.label :slug %><br>
    <%= f.text_field :slug, class: 'form-control' %>
  </div>  
  <div class="col-xs-6 form-group">
    <%= f.label :biblionet_id %><br>
    <%= f.number_field :biblionet_id, class: 'form-control disabled' %>
  </div>
  
  <div class="form-group form-actions">
    <%= f.submit t('save'), class: 'btn btn-effect-ripple btn-primary' %>    
  </div>
<% end %>
