<% pages = {fa('home') => root_url, t('books.label') => nil} %>

<%= cell(:navigation).call(:content_header, 
  content: render(partial: 'shared/search_form', 
    locals: {action: books_path, placeholder: t('books.search')}), breadcrumbs: pages) %>


<div class="row">
   <div class="col-sm-8">
      <div class="block full">
        <div class="block-title">
          <div class="block-options pull-right">               
            <%= cell(:navigation).call(:btn_link_to, name: fa('plus'), url: new_book_path, tooltip: t('books.new')) if policy(Book).new? %>      
          </div>
          <h2><%= detone t('books.label') %><small>&nbsp;(<%= @books.total_count %>)</small></h2>
        </div>

        <div class="row"> 
          <%= render "books/widgets/pagination" %>
          <hr> 
          <div class="col-xs-12">    
            <%= render :partial =>  "books/book", :collection => @books, :as => :book %>
          </div>
          <%= render "books/widgets/pagination" %>  
        </div>

      </div>
  </div>
</div>

<% if user_signed_in? %>
<%= render partial: 'books/widgets/collections_manager', locals: {shelves: @shelves} %>
<% end %>
