
<div id="login-container">
  
  <h1 class="h2 text-center push-top-bottom animation-slideDown">
    <i class="fa fa-book"></i> <strong><%= t('welcome') %></strong>
  </h1>

  <div class="block animation-fadeInQuickInv">
    <div class="block-title">
      <div class="block-options pull-right">

        <% if devise_mapping.recoverable? %>
          <% opts = {class: "btn btn-effect-ripple btn-primary", 'data-toggle' => "tooltip", "data-placement" => "left", title: t('forgot_password')} %>
          <%= link_to new_password_path(resource_name), opts do %>                           
            <i class="fa fa-exclamation-circle"></i>
          <% end %>             
        <% end %>

        <% if devise_mapping.registerable? %>
          <% opts = {class: "btn btn-effect-ripple btn-primary", 'data-toggle' => "tooltip", "data-placement" => "left", title: t('create_account')} %>
          <%= link_to new_registration_path(resource_name), opts do %>                           
            <i class="fa fa-plus"></i>
          <% end %>          
        <% end %>

      </div>
      <h2><%= t('please_login') %></h2>
    </div>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form', class: "form-horizontal"}) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <div class="col-xs-12">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, class: 'form-control', placeholder: "Your email..." %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <%= f.label t('password') %>
          <%= f.password_field :password, class: 'form-control', placeholder: "Your password..." %>
        </div>
      </div>
      <div class="form-group form-actions">
        <% if devise_mapping.rememberable? %>
          <div class="col-xs-8">            
            <label class="csscheckbox csscheckbox-primary">                
              <%= f.check_box :remember_me %>
              <span></span>              
            </label>  
            <%= t('remember_me') %>          
          </div>
        <% end %>        
        <div class="col-xs-4 text-right">          
          <%= button_tag(type: "submit", class: "btn btn-effect-ripple btn-sm btn-primary") do %>
              <i class="fa fa-check"></i> <%= t('login') %> 
          <% end %>           
        </div>  
      </div>       
    <% end %>    

  </div>
  <footer class="text-muted text-center animation-pullUp">
    <small><span id="year-copy"></span> &copy; <a href="#" target="_blank">Bibliography Foundation</a></small>
  </footer>
</div>
