vex.defaultOptions.className = 'vex-theme-plain'
vex.dialog.defaultOptions.showCloseButton = true;
vex.dialog.buttons.YES.text = <%="'#{I18n.t('save')}'"%>
vex.dialog.buttons.NO.text = <%="'#{I18n.t('cancel')}'"%>

@manageCollections = (content, book_id) ->
  was_checked = []
  vex.dialog.open
    message: null
    input: content    
    afterOpen: ($vexContent) ->
      # Fetch json data about this book's collections
      console.log 'Collection manager opened'
      $('.vex-dialog-input .collections-checkboxes').hide()
      $('.vex-dialog-input .fa-spin').show()      
      $.ajax(url: '/books/'+book_id+'/collections').done (response) ->        
        $.each response, (index, collection) ->          
          $('.vex-dialog-input #collection-'+collection.id).prop('checked', true)
          was_checked.push(collection.id)
        $('.vex-dialog-input .fa-spin').hide()
        $('.vex-dialog-input .collections-checkboxes').show()          
    afterClose: ->
      # Change whatever needs change in current screen
      console.log 'Collection manager closed'    
    callback: (value) ->
      if value           
        is_checked = []
        $.each value, (key, value) ->
          is_checked.push(parseInt(key.split("-").slice(-1)[0])) if value == "on"     
        
        request_data =
          to_add: $(is_checked).not(was_checked).get();
          to_remove: $(was_checked).not(is_checked).get();

        $.ajax({
          type: "POST",
          url: '/books/'+book_id+'/collections',
          data: request_data,
          success:(data) ->                        
            collection_btn = $('.collections-btn-'+book_id+' .btn')

            if is_checked.length > 0
              # console.log 'in collection'              
              collection_btn.removeClass( "btn-primary" )
                .addClass("btn-success")
                .attr('title', <%="'#{I18n.t('shelves.edit_collections')}'"%>)
                .tooltip('fixTitle')                

              collection_btn.html ->
                $(this).html()
                .replace(<%="'#{I18n.t('books.add')}'"%>, <%="'#{I18n.t('books.added')}'"%>)              

              collection_btn.find('i').removeClass( "fa-plus" )
                .addClass("fa-check")  
                      
            else
              collection_btn.removeClass( "btn-success" )
                .addClass("btn-primary")
                .attr('title', <%="'#{I18n.t('shelves.add_to_collections')}'"%>)
                .tooltip('fixTitle')                

              collection_btn.html ->
                $(this).html()
                .replace(<%="'#{I18n.t('books.added')}'"%>, <%="'#{I18n.t('books.add')}'"%>)
                
              collection_btn.find('i').removeClass( "fa-check" )
                .addClass("fa-plus")

            notify(<%="'#{I18n.t('notifications.changes_saved_successfully')}'"%>,'success')            
            return false
          error:(data) ->
            notify(<%="'#{I18n.t('notifications.changes_saved_failed')}'"%>,'error')
            return false
        })
      else console.log 'Collection manager canceled'
     