// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-container .book-cover {
  margin-bottom: 15px;
}

.comment-block {
  display: block;  
}

.comment-block:hover .comment-action {
  display: block;
  cursor: pointer;
}

.comment-action {
  display: none;
  float:right;
  margin-right: 10px;
}
