<%= link_to category, class: "list-group-item", id: "category_#{category.id}" do %>
  <span class="badge"><%= "[#{category.ddc}]" %></span>
  <h5 class="list-group-item-heading">
    <%= "#{category.name}" %>  
  </h5> 
<% end %>



