<div class="widget">  
  <div class="widget-content widget-content-mini themed-background-dark-flat text-light-op border-bottom">
    <i class="fa fa-fw fa-book"></i> <strong><%= t('my_books') %></strong>
  </div>      
  <div class="widget-content">   
                   
     <div class="row">
        <div class="col-xs-12">
          <%= "#{current_user.books.distinct.count} #{t('books.label')} | #{@shelves.count} #{t('collections')} | #{current_user.writers.distinct.count} #{t('authors.label')}" %>
        </div>
        <div class="col-xs-12">
          <%= cell(:search).call(:search_form, url: '#', placeholder: t('search_my_books')) %>         
        </div>             
     </div>

  </div>
</div>