<li><%= link_to 'Categories', categories_path %></li>
<li><%= link_to 'Books', books_path %></li>
<li><%= link_to 'Authors', authors_path %></li>
<li><%= link_to 'Publishers', publishers_path %></li>

<% if user_signed_in? %> 
<%   if current_user.editor? %>
<%=     content_tag(:li, link_to('Contributions', contributions_path)) %>
<%=     content_tag(:li, link_to('Awards', awards_path)) %>
<%=     content_tag(:li, link_to('Prizes', prizes_path)) %>
<%   end %>   
<%   if current_user.admin? %>
<%=     content_tag(:li, link_to('Import', import_path)) %>    
<%   end %>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
      <span class="glyphicon glyphicon-user"></span><span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <li><%= link_to 'Profile', '#' %></li>
      <li><%= link_to 'Account Settings', edit_user_registration_path %></li>

      <li class="divider"></li>
      <li><%= link_to 'Log out', destroy_user_session_path, :method=>'delete' %></li>
    </ul>
    <!-- /.dropdown-user -->
  </li>
<% else %>
  <li><%= link_to 'Log in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>