                <div class="dark-bg">
                  <%= side_nav_li(t('side_menu.categories'), categories_path, "fa fa-tasks") %>
                  <%= side_nav_li(t('side_menu.books'), books_path, "gi gi-book_open") %>
                  <%= side_nav_li(t('side_menu.authors'), authors_path, "gi gi-old_man") %>
                  <%= side_nav_li(t('side_menu.publishers'), publishers_path, "fa fa-building") %>
                </div>
                <li class="sidebar-separator">
                  <i><span class="sidebar-nav-mini-hide"><%= t('side_menu.discover') %></span></i>
                </li>
                <li>
                  <a href="#" class="sidebar-nav-menu">
                    <i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                    <i class="fa fa-thumbs-o-up sidebar-nav-icon"></i>
                    <span class="sidebar-nav-mini-hide"><%= t('side_menu.featured') %></span>
                  </a>
                  <ul>
                    <li>
                      <a href="page_ui_widgets.php"><%= t('side_menu.books') %></a>
                    </li>
                    <li>
                      <a href="page_ui_widgets.php"><%= t('side_menu.authors') %></a>
                    </li>                    
                  </ul> 
                </li>
                <li>
                  <a href="#" class="sidebar-nav-menu">
                    <i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                    <i class="fa fa-line-chart sidebar-nav-icon"></i>
                    <span class="sidebar-nav-mini-hide"><%= t('side_menu.trending') %></span>
                  </a>
                  <ul>
                    <li>
                      <a href="page_ui_widgets.php"><%= t('side_menu.books') %></a>
                    </li>
                    <li>
                      <a href="page_ui_widgets.php"><%= t('side_menu.authors') %></a>
                    </li>                    
                  </ul>                                      
                </li>                 

                <li>
                  <a href="#" class="sidebar-nav-menu">
                    <i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                    <i class="fa fa-trophy sidebar-nav-icon"></i>
                    <span class="sidebar-nav-mini-hide"><%= t('side_menu.awarded') %></span>
                  </a>
                  <ul>
                    <li>
                      <a href="page_ui_widgets.php"><%= t('side_menu.books') %></a>
                    </li>
                    <li>
                      <a href="page_ui_widgets.php"><%= t('side_menu.authors') %></a>
                    </li>                    
                  </ul>                   
                </li>       

                <%= side_nav_li(t('side_menu.latest'), '#', "fa fa-clock-o") %>                                                          
                
                <% if user_signed_in? %> 

                  <% if current_user.editor? %>                                      
                    <li class="sidebar-separator">
                      <i><span class="sidebar-nav-mini-hide"><%= t('side_menu.editors_only') %></span></i>
                    </li>

                    <%= side_nav_li(t('side_menu.contributions'), contributions_path, "fa fa-pencil-square-o") %>
                    <%= side_nav_li(t('side_menu.awards'), awards_path, "fa fa-pencil-square-o") %>
                    <%= side_nav_li(t('side_menu.prizes'), prizes_path, "fa fa-pencil-square-o") %>
                  <% end %> 

                  <% if current_user.admin? %>
                    <li class="sidebar-separator">
                      <i><span class="sidebar-nav-mini-hide"><%= t('side_menu.admins_only') %></span></i>
                    </li>
                    <%= side_nav_li(t('side_menu.import'), import_path, "gi gi-file_import") %>
                    <%= side_nav_li(t('side_menu.tasks'), "#", "fa fa-terminal") %>
                    <%= side_nav_li(t('side_menu.monitoring'), sidekiq_web_path, "fa fa-bullseye") %>                    
                    <%= side_nav_li(t('side_menu.api'), "/docs/api#introduction", "fa fa-exchange") %>
                  <% end %> 

                <% end %>
