<!DOCTYPE html>

<!--[if IE 9]>         
<html class="no-js lt-ie10">
<![endif]-->

<!--[if gt IE 9]><!--> 
<html class="no-js">
<!--<![endif]-->
  
<html>
  <!-- BEGIN HEAD -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bibliography GR - The book portal" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bibliography" %>">
    <meta name="author" content="dklisiaris">
    <meta name="robots" content="noindex, nofollow">
    <%= favicon_link_tag 'favicon.png' %>

    <!-- Apple Touch Icons -->
    <%= favicon_link_tag 'icon57.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '57x57' %>
    <%= favicon_link_tag 'icon72.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '72x72' %>
    <%= favicon_link_tag 'icon72.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '72x72' %>
    <%= favicon_link_tag 'icon76.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '76x76' %>
    <%= favicon_link_tag 'icon114.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '114x114' %>
    <%= favicon_link_tag 'icon120.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '120x120' %>
    <%= favicon_link_tag 'icon144.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '144x144' %>
    <%= favicon_link_tag 'icon152.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '152x152' %>
    <%= favicon_link_tag 'icon180.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>

    <!-- Windows 8 Tile Icons -->
    <meta name="msapplication-square70x70logo" content="smalltile.png" />
    <meta name="msapplication-square150x150logo" content="mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="widetile.png" />
    <meta name="msapplication-square310x310logo" content="largetile.png" />    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
    <%= javascript_include_tag :modernizr, 'data-turbolinks-track' => true %>   
    
    <%= csrf_meta_tags %>
  </head>
  <!-- END HEAD --> 

  <!-- BEGIN BODY -->
  <body class="<%= controller_name %> <%= action_name %>"> 

    <!-- BEGIN PAGE WRAPER FOR LOADING SCREEN -->
    <div id="page-wrapper" class="page-loading">

      <!-- BEGIN PRELOADER - HERE COMES THE LOADING ICON -->
      <div class="preloader">
        <div class="inner">
          <div class="preloader-spinner themed-background hidden-lt-ie10"></div>
          <h3 class="text-primary visible-lt-ie10"><strong>Loading..</strong></h3>
        </div>
      </div>
      <!-- END PRELOADER -->
      
      <!-- BEGIN PAGE CONTAINER - THE WHOLE PAGE LIVES HERE -->
      <div id="page-container" class="header-fixed-top sidebar-visible-lg-full enable-cookies">    
                
        <%= render 'layouts/navigation_sidebar' %>
        
        <!-- BEGIN MAIN CONTAINER - THE MAIN PAGE - INCL TOP HEADER - EXCL SIDE MENUS -->
        <div id="main-container">
        
          <%= render 'layouts/top_header' %>

          
          <!-- BEGIN PAGE CONTENT - EXCL ALL MENUS AND SIDEBARS -->
          <div <%= content_for?(:page_content_options) ? yield(:page_content_options) : 'id="page-content"'.html_safe %> >  
            <%= yield :content_header %>
            <%= render 'layouts/messages' %>
            <%= yield %>                      
          </div>
          <!-- END PAGE CONTENT - EXCL ALL MENUS AND SIDEBARS -->
          
        </div>
        <!-- END MAIN CONTAINER - THE MAIN PAGE - INCL TOP HEADER - EXCL SIDE MENUS -->
  
      </div>
      <!-- END PAGE CONTAINER -->
    </div>
    <!-- END PAGE WRAPER FOR LOADING SCREEN -->

    <script>//$(function(){ ReadyDashboard.init(); });</script>

  </body>
  <!-- END BODY -->
</html> 
